<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark " id="mainNav" ng-init="loadData()">
  <div class="container ">
    <a class="navbar-brand" href="#/">GetSetShop</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive"> 
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" ng-if="!$root.isloggedIn">
          <a class="nav-link" href="#/login">Login</a>
        </li>
        <li class="nav-item" ng-if="!$root.isloggedIn">
          <a class="nav-link" href="#/signup">Signup</a>
        </li>
        <li class="nav-item" ng-if="$root.isloggedIn">
          <a class="nav-link" href="#/userData">Account </a>
        </li>
        <li class="nav-item" ng-if="$root.isloggedIn && cartLength">
          <a class="nav-link" href="#/cart">Bag ({{cartLength}})</a>
        </li>
        <li class="nav-item" ng-if="$root.isloggedIn && !cartLength">
          <a class="nav-link" href="#/cart">Bag</a>
        </li>
        <li class="nav-item" ng-if="$root.isloggedIn">
          <a class="nav-link" ng-click="userLogout()">Logout </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
<br>

 