<navbar-card></navbar-card>

<div class="container"  ng-if="order.data">
	<div class="row">
		<div class="card space col-lg-10 col-md-10 col-sm-10 col-10 offset-lg-1 offset-md-1 offset-sm-1 offset-1">
		
			<h2>Thank you for your order!</h2>
			<h5>We'd like to let you know that GetSetShop has received your order and is preparing it for shipment.</h5>
			<hr>
			<br>
		
			<div>
				<h4>Order Summary :</h4>
				<p><strong>Estimate date of delivery : </strong> {{order.data.orderDetails.deliveryDate | date : 'medium'}}</p>
	        	<p><strong>Mode of payment</strong> : {{order.data.orderDetails.paymentType}} </p>	    	
	        	<p><strong>Order ID</strong> : {{order.data.orderDetails.orderId}} </p>
	          	<p><strong>Total Price</strong> : Rs.{{order.data.orderDetails.orderPrice}}</p>
	        	<p><strong>Order Date</strong> : {{order.data.orderDetails.orderDate | date : 'medium'}} </p>
	        </div>
	        <br>
	        <div>
	        	<h4>Ship To :</h4>
	        	<p><strong>Name </strong>: {{order.data.userInfo.firstName}} {{order.data.userInfo.middleName}} {{order.data.userInfo.lastName}} </p>
	        	<p><strong>Shipping Address </strong>: {{order.data.orderDetails.delAddress}}</p>
	        </div>
	        <br>
	        <div>
	        	<h4>Item(s) Ordered :</h4>
	        	<div ng-repeat="item in order.data.orderDetails.orderDetails" ng-if="!order.data.orderDetails.orderDetails[0].productInfo">
            		<p> <strong>Product </strong>: {{item.productName}} </p>
            		<p> <strong>Price </strong>: Rs.{{item.productPrice}}</p>
          		</div>
          		<div ng-repeat="item in order.data.orderDetails.orderDetails" ng-if="order.data.orderDetails.orderDetails[0].productInfo">
            	<p> <strong>Product </strong>: {{item.productInfo.productName}} </p>
            	<p> <strong>Quantity </strong>: {{item.quantity}} </p>
            	<p> <strong>Price </strong>: Rs.{{item.productInfo.productPrice}}</p>
            	<br>
          		</div>
          		<br>
          		<a href="#/" class="btn btn-success">Continue Shopping</a>
          		<br>
	        </div>	
		
	
		</div>
	</div>
</div>
<div ng-if="!order.data">
	<a href="#/" class="btn btn-success button col-lg-6 col-md-6 col-sm-6 col-6 offset-lg-3 offset-md-3 offset-sm-3 offset-3">Continue Shopping</a>
	<br>
</div>